{% extends 'core/base.html' %} {% block content %} 

<form action="" method="POST"
class="row flex justify-content-center align-content-center align-items-center">
    {% csrf_token %}

    <div class="col-12 col-md-6 row rounded bg-white p-5" >
        
        
        {{ form.as_p }}


        <div class="col-12 mt-2">
            <div class="row m-0 flex justify-content-center align-content-center align-items-center">
                <button class="btn btn-primary w-25" type="submit" value="login">ثبت</button>
            </div>
            <input type="hidden" name="next" value="{% url 'home' %}" />          
        </div>
    </div>



</form>

{% endblock %}

