{% extends 'core/base.html' %} {% block content %}
{% load jalali_tags %}
<div class="col-12 col-md-10 rounded p-5 mx-auto bg-white">
    <a class="btn btn-primary" style="float: left;" href="{% url 'mr_add' %}">+
        ثبت درخواست اولیه جدید    
        </a>
    
    {% if mrs %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ردیف</th>
                <th scope="col">شماره درخواست</th>
                <th scope="col">پروژه</th>
                <th scope="col">ثبت شده توسط</th>
                <th scope="col">تاریخ درخواست</th>
                <th scope="col">تاریخ ثبت</th>
    
            </tr>
        </thead>
        <tbody>
            {% for mr in mrs %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td><a href="{{mr.get_edit_url}}">{{mr.number}}</a></td>
                <td>{{mr.project}}</td>
                <td>
                    {{mr.created_by.first_name}} {{mr.created_by.last_name}} ({{mr.created_by}})
                </td>
                <td>
                    {{mr.date|to_jalali:'%Y/%m/%d'}}
                </td>
                <td>
                    {{mr.created|to_jalali:'%Y/%m/%d'}}
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h1>تاکنون درخواستی ثبت نشده است.</h1>
    {% endif %}    
</div>
{% endblock %}
